* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* دعم الاتجاه RTL للغة العربية */
html[dir="rtl"] .menuItems {
  padding-right: 0;
}

html[dir="rtl"] .aboutItems {
  padding-right: 0;
}

html[dir="rtl"] .historyItem ul {
  padding-right: 20px;
}